<nav class="navbar">
    <ul class="nav"> 
        <li><a href="/dashboard">Dashboard</a></li>

        <li><a href="/compose">Compose</a></li>
        <li><a href="/common_post">Common Area</a></li>
    </ul>
</nav>
<div class="postcont">

    <h2><%= title %></h2>
    <p><%= content %></p>
</div>


