<div class="options-wrapper">
    <div class="options-header" onclick="toggleOptions()">
        &#8801; Options
    </div>
    <div class="options-content" id="optionsContent">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/common_post">Common Area</a></li>

        </ul>
    </div>
</div>
<div class="postcont">

    <h2><%= title %></h2>
    <p><%= content %></p>
</div>


